@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:'Poppins' , sans-serif ;
    
}
html{
    scroll-behavior: smooth;
}
.relatiev{
    position: relative;
}
    #main{
        width: 100%;
        min-height: 100vh;
        
    background-image: url(https://thumbs.dreamstime.com/b/red-pattern-abstract-background-valentine-day-gift-card-holiday-flat-vector-illustration-84499201.jpg);
        /* background-color: #ddd; */
        background-position: center;
        background-size: contain;
        background-repeat: repeat;
    }
#header{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #484848;
    padding: 8px;
    text-transform: uppercase;
    width: 100%;
}
/* #header_left{
    
} */
.menu{
    display: flex;
    list-style: none;
    
}
.menu li{
    padding-left: 30px;
    margin-right: 30px;
    position: relative;
}
.menu >li a{
    text-decoration: none;
    color: #FF6633;
    position: relative;  
}
.menu a>p{
    border: 1px solid #FF6633;
    border-radius: 25%;
    position: absolute;
    top: -10px;
    background-color: #c8765b;
    color: #fff;
    right: -20px;
    height: 15px;
    font-size: 12px;
    width: 18px;
    
}
.logo{
    display: flex;
}
/* ẩn hiện */
.menu .an{
    position: absolute;
    list-style: none;
    background-color: #fff;
    display: none;
    width: 130%;
    height: auto;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}
.menu .an li{
    width: 100%;
    padding-bottom: 5px;
    padding-top: 5px;
}
.menu li:hover ul{
    display: block;
    z-index: 1;
}
.an li:hover {
    background-color: #ccc;
}
/*  */
.menu a::after{
    content: '';
    position: absolute;
    left: 0;
    width: 100%;
    height: 3px;
    background-color: #fff;
    border-radius: 5px;
    bottom: -6px;
    transform: scaleX(0);
    transition: .5s;
}
.menu a:hover a{
    color: #fff;
   
}
.menu a:hover::after{
    transform: scaleX(1);
}

#secsion {
   margin-left: 110px;
   margin-right: 170px;
   /* margin-top: 20px; */
   display: flex;
}
.sidebar{
    display: flex;
    flex-direction: column;
    text-transform: uppercase;
    position: relative;
    flex:1;
}
.sidebar_menu {
    display: flex;
    flex-direction: column ;
    margin-right: 30px;
    flex:1;
    margin-top: 30px;
    
}
.sidebar_menu a{
    color: #f66333;
    background-color: #8B0000;
    padding: 10px;
    text-decoration: none;
    border: 0px 1px solid #fff;
    font-size: 20px;
    width: 200px;
    
}

.sidebar_menu a:hover{
    color: #000;
    background-color: #f66333;
}
.sidebar_contact{
    margin-top: 30px;
    margin-right: 30px;
    position: absolute;
    margin-top:200px;
}
.sidebar_contact h3,.sidebar_contact p{
    padding: 7px;
    background-color: #8B0000	;
}
.sidebar_contact h3{
    color: #f66333;
}
.sidebar_contact p{
    color: #fff;
    font-size: 12px;
}
.content{
    flex:4;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}
.content .title {
   width: 60%;
    margin-left: 200px;
    
}
.content_fastfood {
    margin-top: 30px;
}
 .content_title{
    text-align: center;
    color: #fff;
    font-size: 30px;
    font-weight: 400;
    margin-top: 30px;
}
.content_menu{
    display: flex; 
     flex-wrap: wrap;
    padding: 0px 8px;
    overflow: hidden;
}
.content_menu .menu_list{
    margin-top: 30px;
    width: 33.3333%;
    display: flex;
    margin-bottom: 40px;
    justify-items: center;
    align-items: center;
    /* float: left; */
    padding: 0px 8px;
    flex-direction: column;
}

.menu_list a{
    text-decoration: none;
    transition: all 1s;
}
.menu_list a:hover{
    cursor:pointer;
}
.sanpham button:hover{
    cursor: pointer;
    background-color: antiquewhite;
}

.menu_list img{
    height: 200px;
    width: 260px;
    /* width: 100%; */
    display: block;
    border: 1px solid #FFF;

}
.menu_list img:hover{
    transform: scale(1.03);
    
}
.sanpham{
    background-color: #fff;
    /* width: 100%; */
    width: 260px;
}
.sanpham button{
    margin-left: 25%;
    padding: 5px;
    margin-bottom: 10px;
}
.menu_list .sanpham h3{
    color: #f66333;
    padding-left: 10px;
}
.menu_list .sanpham p{
    color: #000;
    padding-left: 10px;
    padding-bottom: 10px;
}
#footer{
    position: relative;
    width: 100%;
    background-color: #484848;
    bottom: 0;
    right: 0;
    margin-bottom: 0;
}
#footer .accout{
    padding-top: 64px;
    padding-bottom: 64px;
    text-align: center;
    font-size: 24px;
    
    display: block;
}
#footer .accout a{
    color: #000;
    text-decoration: none;
    opacity: 0.7;
    padding: 5px;
}
#footer .accout i:hover{
    opacity: 0.4;
}
/* REPONSIVE */
.content{

    max-width: calc(100% - 50px);
}
@media(max-width:1400px){
    .content_menu{
        flex-wrap: wrap;
    }
    .content_menu .menu_list{
        width: 50%;
    }
}
@media(max-width:950px){
    .content_menu{
        flex-wrap: wrap;
    }
    .content_menu .menu_list{
        width: 100%;
    }
    .sidebar{
        display: none;
    }
    .header_right{
        display: none;
    }
    .title{
        display: none;
    }
}
.text{
    position: relative;
    width: 100%;
    text-align: center;
    filter: url(#fire);
}
.text h3{
    position: relative;
    color: #ffeb3b;
    font-weight: 400;
    font-size: 1.7em;
    -webkit-box-reflect: above -50px linear-gradient(transparent, #0008);
    text-shadow: 0 0 10px #ff8c3b,
    0 0 20px #ff8c3b,
    0 0 40px #ff8c3b,
    0 0 80px #ff8c3b,
    0 0 100px #ff8c3b;

}
svg{
    width: 0;
    height: 0;

}